html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	scroll-behavior: smooth;
}

#app, #map {
	width: 100%;
	height: 100%;
}

.map-loading {
	text-align: center;
}

.details-header {
	width: 100%;
	text-align: center;
}

#details-latest {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

#details-addlog {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

#details-logtable {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: fixed;
	border: 1px solid black;
}

#details-tempsetting {
	text-align: center;
}

td, th {
	padding: 5px;
	border: 1px solid black;
}

/* 
#details {
	width: 100%;
	height: 100%;
}

.details-table {
	width: 100%;
	table-layout: fixed;
}

.details-cell {
	border: black solid 1px;
	text-align: center;
}

.details-indent {
	text-indent: 10px;
}

.message-error {
	color: red;
}

#history {
	width: 100%;
}

#history > tr > th, td {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
} */