html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#map {
	width: 100%;
	height: 100%;
}

#details {
	width: 100%;
	height: 100%;
}

.details-table {
	width: 100%;
	table-layout: fixed;
}

.details-cell {
	border: black solid 1px;
	text-align: center;
}

.details-indent {
	text-indent: 10px;
}

.message-error {
	color: red;
}

#history {
	width: 100%;
}

#history > tr > th, td {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}