html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#map {
	width: 100%;
	height: 100%;
}

#details {
	width: 100%;
	height: 100%;
}

.details-content {
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	float: left;
}

.details-indent {
	text-indent: 10px;
}

.message-error {
	color: red;
}

th, td {
	padding: 2px;
	border: 1px solid black;
}